body{
text-align:center;
background:#111;
color:white;
font-family:Arial;
}

canvas{
background:black;
border:3px solid white;
margin-top:10px;
}

.controls button{
font-size:25px;
margin:5px;
padding:10px;
}
